main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.output {
    display: flex;
    justify-content: flex-end;
    width: 400px;
    background-color: gray;
}

.output-p {
    margin-right: 5px;
    font-size: 20px;
    color: #fff;
}

.cal-btns {
    display: flex;
}

.btn {
    background-color: #fff;
    padding: 20px;
    width: 100px;
    border: 1px solid rgb(219, 212, 212);
    cursor: pointer;
    font-weight: bold;
}

.btn.last {
    background-color: rgb(255, 166, 0);
}

.btn.zero {
    width: 200px;
}